.hide{
    display:none;
}
body{
    background-color:white;
    background-image: url(imagenes/pru.jpg);
}
.titulo{
    font-family:Circular,Roboto,sans-serif;
    color: #815CE3;
    padding-left: 400px;
    font-size: 42px;
    background-color: white;
    margin-right: 140px;
    margin-left: 150px;
    
}
#inicio, #primeravista, #segundavista{
    margin-left: 150px;
    margin-right: 20px;
    padding-right: 24px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    background-color: white;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    width: 1000px;
    text-align: center;  
}
.imagen{
    width: 500px;  
}
.info{
    color: #1dc2d7 ;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
}
.boton1, .boton2, .boton3, .boton4{
    color:white;
    background-color: #5C60E7;
    border-radius: 4px;
    font-family: Circular,Roboto,sans-serif;
}
.boton1, .boton4{
    width: 180px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 20px;
}
.requisito1,.requisito2, .requisito3{
    color: #1dc2d7 ;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
}
.requisito2, .requisito3{
    text-align: left; 
    padding-left: 120px;
}
.number, .mensaje1, .mensaje2{
    border-radius: 4px;
    border-color: #5C60E7 ;
    border-style: solid;
}
.number{
    width: 90px;
}
.mensaje1, .mensaje2{
    width: 780px;
    height: 270px;
}
.boton2, .boton3{
    width: 120px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 12px;
    margin-left: 90px;
    margin-right: 90px;
}
.frase1, .frase2{
    color: #1dc2d7 ;
    font-size: 15px;
    font-family: 'Concert One', cursive;
    margin-top: 40px;
    margin-left: 270px;
    margin-right: 270px;
}
.mensaje2{
    margin-left: 110px;
}
